<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJGeVzPsjT4_Yu7ZX22UN-AtMYIJJgjVE</string>
	<key>GCM_SENDER_ID</key>
	<string>933904947104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marioban.RemoteConfigDemo</string>
	<key>PROJECT_ID</key>
	<string>remoteconfigdemo-a701b</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfigdemo-a701b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933904947104:ios:26b0149a80b02a4c02b6c5</string>
</dict>
</plist>